Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Cache Directory
.idea

# Solution and Project Files
*.sln
*.csproj
*.sln.DotSettings
*.sln.DotSettings.user